  body {
    width: 700px;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    /*background-image: url(../images/mockup.jpg);
    background-size: 800px 20624px;
    background-position: top center;
    background-repeat: no-repeat;*/
  }

  h1, h2, h3 {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
  }

  h1 {
    margin-top: 69px;
    font-size: 40px;
    margin-bottom: 3px;
  }

  h2 {
    margin-top: 46px;
    font-size: 32px;
  }

  h3 {
    margin-top: 46px;
    font-size: 28px;
  }

  h1 + p {
    color: rgba(0,0,0,0.4);
    font-size: 22px;
    line-height: 32px;
  }

  h2 + p {
    margin-top: 10px;
    color: black;
    font-size: 22px;
    line-height: 32px;
  }

  h3 + p {
    margin-top: 10px;
    color: black;
    font-size: 22px;
    line-height: 32px;
  }

  p {
    color: black;
    font-size: 22px;
    line-height: 32px;
    margin-top: 3px;
  }

  p + p {
    margin-top: 28px;
  }

  h1 + p + p {
    margin-top: 33px;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }

  a:visited {
    color: #636363;
  }
