.feed {
  background-color: #FAFAFA;
}

.feed.bg {
  /*width: 1507px;
  height: 1440px;*/
  background-image: url(../images/posts_mockup.png);
  background-size: 1440px 1507px;
  background-position: center -10px;
  background-repeat: no-repeat;
}

.feed .postsFeed {
  padding-top: 90px;
}

.postsFeed .postCard {
  display: block;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
  background-color:#ffffff;
}
