.feed {
  background-color: #FAFAFA;
}

.feed.bg {
  /*width: 1507px;
  height: 1440px;*/
  /*background-image: url(../images/posts_mockup.png);*/
  background-size: 1440px 1507px;
  background-position: center -10px;
  background-repeat: no-repeat;
}

.feed .postsFeed {
  padding-top: 90px;
  padding-left: 263px;
  width: 1005px;
}

.postFeed {
  padding-top: 90px;
}

.postsFeed .postCard {
  display: block;
  border: 1px solid rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
  background-color:#ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.postsFeed a {
  text-decoration: none;
  color: inherit;
}

.postsFeed p {
  font-size: 22px;
  color: rgba(0,0,0,.4);
  line-height: 32px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 32px;
}

.postsFeed h2 {
  font-size: 28px;
  font-weight: bold;
  color: rgba(0,0,0,.8);
  font-family: 'PT Sans Caption', sans-serif;
  line-height: 46px;
  margin-left: 20px;
}

/*.postsFeed .postCard figure {
  width: 702px;
  height: 202px;
  margin: 19px 0 22px 21px;
}*/

.img_wrap {
    width: 702px;
    height: 202px;
    overflow: hidden;
    margin: 19px 0 22px 21px;

    }
    .img_wrap img {
      vertical-align: middle;
      width: 702px;
      height: 202px;
      -o-object-fit: cover;
      object-fit: cover;
        }
