.landing.bg {
  background-image: url(../images/index_mockup.png);
  background-size: 1440px 3200px;
  background-position: center -10px;
  background-repeat: no-repeat;
}

.landingWrapper {
  padding-top: 50px;
  max-width: 1440px;
  margin: 0 auto;
}

.landingWrapper .mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 36px;
  line-height: 46px;
  /*margin-bottom: 22px;*/
}

.landingWrapper .mainSection p {
  font-size: 26px;
  line-height: 36px;
}

.landingWrapper .mainSection {
  position: relative;
  height: 780px;
}

.landingWrapper .mainSection .textWrapper {
  position: absolute;
  top: 87px;
  left: 160px;
}

.landingWrapper .mainSection h2 + p {
  margin-top: 21px;
}

.landingWrapper .mainSection .pattern {
  width: 210px;
  height: 20px;
  background-image: url(../images/pattern.svg);
  margin-left: -60px;
  margin-top: 235px;
}

.landingWrapper .mainSection.left .textWrapper {

}

.landingWrapper .mainSection.left .pattern {

}

.landingWrapper .mainSection.right .textWrapper {

}

.landingWrapper .mainSection.right .pattern {

}
