body {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 768px;

    /*background-image: url(../images/mockup.jpg);
    background-size: 800px 20624px;
    background-position: top center;
    background-repeat: no-repeat;*/
}

* {
  box-sizing: border-box;
}
a:visited {
  color: inherit;
}

.share {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
