.sidebar {
  position: fixed;
  width: 250px;
  background-color: pink;
  z-index: 1;
  opacity: .1;
  transition: all 200ms ease-out;
}

.sidebar:hover {
  opacity: 1;
}

.sidebar a {
text-decoration: none;
}
