.sidebar {
  position: fixed;
  top: 50px;
  left: 20px;
  padding: 30px;
  width: 300px;
  z-index: 1;
  opacity: .1;
  transition: all 200ms ease-out;
}

.sidebar:hover {
  opacity: 1;
}

.sidebar a {
text-decoration: none;
color: inherit;
}

.sidebar > ul >li:first-child {
  font-weight: bold;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar li + li, .sidebar a + ul {
  margin-top: 15px;
}

.sidebar > ul > li > ul li {
  padding-left: 10px;
  color: rgba(0,0,0,0.4);
  line-height: 15px;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
